# Python / backend
# Environments
.env

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/

# IDEs
.vscode/
.idea/

# Frontend / node
node_modules/
dist/
build/

# Environment variables
.env
